<section class="mobile-menu__wrapper" [ngClass]="displayClasses" [style.height]="mobileHeight">
  <header class="mobile-menu__header">
    <div class="header__main-name">
      <div class="header__menu-header">
        <h1>ООО Нордекс 97</h1>
        <input
          type="button"
          class="button header__menu-close-button"
          (click)="onCloseMenu()"
        />
      </div>
      <span>Продажа всех видов пластика</span>
    </div>
  </header>
  <main class="mobile-menu__main">
    <app-nav [isMobile]="isMobile" (lickClick)="onLickClick()"></app-nav>
  </main>
  <footer class="mobile-menu__footer">
    <a class="footer__info-mail" href="mailto:nrd2019@mail.ru"
      >nrd2019@mail.ru</a
    >
    <p class="footer__bottom-group">
      <a class="footer__info-a" href="tel:84999678699">8 499 967-86-99</a>
      <a class="footer__info-a" href="tel:89261941998">8 926 194-19-98</a>
    </p>
  </footer>
</section>
