:host {
  width: 100%;
}

.item__table {
  display: table;
  border-spacing: 0 0.5rem;
  font-size: 1.2rem;
  border-top: 1px solid #3b4b52;
}

.item__table-td {
  width: 50%;
  border-bottom: 1px solid #757575;
  padding: 0.3rem 0;
}
.item__table-link {
  padding-bottom: 1px;

  &:hover {
    padding-bottom: 0;
    border-bottom: 1px solid #757575;
  }
}
