<div class="item-page">
  <h1 class="item-page__h1">О компании</h1>
  <p class="item__characters-text">
    Одним из направлений организации, является реализация полимерной продукции,
    полимерного сырья, нефтехимического и пищевого сырья по всей России,
    Казахстану и Белоруссии. контакты.
  </p>
  <p class="item__characters-text">
    Наши Сотрудники - квалифицированные специалисты из отрасли нефтехимической
    промышленности. Имеем благодарности и рекомендации наших партнеров, а также
    длительные, стабильные и уверенные торговые
  </p>
  <p class="item__characters-text">
    С перечнем продукции Вы сможете ознакомиться в разделе
    <a class="item__characters-link" routerLink="/catalog">«каталог товаров»</a
    >.
  </p>
</div>
