@import '../variables.scss';

.header,
.main,
.footer {
  width: 100%;
}

.header {
  min-height: 10rem;
  background-color: $header-bg;
  // box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.25);

  &__main {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__info {
    padding: 0.3rem 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
    display: flex;

    &-a {
      margin-left: 4rem;
      font-weight: 600;
      margin-bottom: 1px;
      font-size: 1.1rem;
    }

    &-a:hover {
      margin-bottom: 0px;
      border-bottom: 1px solid black;
    }

    &-a:first-child {
      margin-left: auto;
    }
  }

  .wrapper {
    padding-bottom: 0;
  }
}

.wrapper {
  max-width: 1400px;
  min-width: 300px;
  padding: 1.5rem 2rem;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.catalog {
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 2rem 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  position: absolute;
  top: 0;
  margin-left: 9.25rem;
  margin-bottom: 2rem;
  padding-left: 9.25rem;
  z-index: -1;
  width: calc(100% - 9.25rem - 4rem);
}

.main-name {
  font-weight: 600;
  font-size: 2.7rem;
  position: relative;
  color: $list-ul-open-bg;
}

.main-name::after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  height: 0.3rem;
  background-color: $list-ul-open-bg;
  transform: translateX(10%) skewX(-40deg);
  bottom: -0.5rem;
}

.main-search {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 6rem;
  height: 3.7rem;
  padding: 1rem 2rem;
  width: 40%;
  justify-content: space-between;
  margin-left: auto;
  transition: box-shadow 200ms, border 200ms;
}

.main-search:hover {
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.search__input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1.1rem;
}

.search__button {
  background-image: url(../assets/icons/search-solid.svg);
  width: 2rem;
  height: 100%;
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 1rem;
  cursor: pointer;
}

.main-requsites {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 6rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0);
  height: 3.7rem;
  width: 10%;
  font-weight: bold;
  font-size: 1.1rem;
  outline: none;
  transition: box-shadow 200ms, border 200ms;
}

.main-requsites:hover {
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.main-requsites:active {
  background-color: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
