<app-mobile-menu
  *ngIf="isMobile"
  [isOpen]="mobileMenuOpenStatus"
  (isOpenChanges)="onMobileStatusChanged($event)"
></app-mobile-menu>
<header class="header" [class.mobile]="isMobile">
  <div class="header__info" *ngIf="isNotMobile">
    <div class="wrapper">
      <a class="header__info-a" href="tel:84999678699">8 499 967-86-99</a>
      <a class="header__info-a" href="tel:89261941998">8 926 194-19-98</a>
      <a class="header__info-a" href="mailto:nrd2019@mail.ru"
        >nrd2019@mail.ru</a
      >
    </div>
  </div>
  <div class="wrapper">
    <div class="header__main" [class.mobile]="isMobile">
      <h1 class="main-name" *ngIf="isNotMobile">
        ООО Нордекс 97
        <span>Продажа всех видов пластика</span>
      </h1>
      <div class="main-header" [class.mobile]="isMobile">
        <input
          type="button"
          *ngIf="isMobile"
          (click)="openMobileMenu()"
          class="button header__menu-open-button"
        />
        <div class="main-search" [class.mobile]="isMobile">
          <input
            #searchInput
            class="input search__input"
            type="text"
            [placeholder]="searchPlaceholder"
            (keydown.enter)="onEnter()"
          />
          <input
            class="input search__button"
            type="button"
            aria-label="search
          button"
            (click)="onEnter()"
          />
        </div>
      </div>

      <a
        class="current-page"
        *ngIf="currentPage && isMobile"
        [routerLink]="currentPage.link"
        >{{ currentPage.title }}</a
      >
      <a
        class="current-category"
        *ngIf="currentCategory && isMobile"
        [routerLink]="currentCategory.link"
        >{{ currentCategory.title }}</a
      >
    </div>
    <app-nav *ngIf="isNotMobile"></app-nav>
  </div>
</header>
<main class="main wrapper" [class.mobile]="isMobile">
  <app-catalog-list
    [class.mobile]="isMobile"
    [isMobile]="isMobile"
    *ngIf="isNotMobile || (currentPage?.link === 'catalog' && !currentCategory)"
  ></app-catalog-list>
  <section class="section catalog">
    <router-outlet></router-outlet>
  </section>
</main>
