<header class="header">
  <div class="wrapper">
    <div class="header__main">
      <div class="main-search">
        <input
          #searchInput
          class="input search__input"
          type="text"
          [placeholder]="searchPlaceholder"
          (keydown.enter)="onEnter()"
        />
        <input
          class="input search__button"
          type="button"
          aria-label="search
        button"
          (click)="onEnter()"
        />
      </div>
    </div>
    <app-nav [broadCrumbs$]="currentBroadCrumbs$"></app-nav>
  </div>
</header>
<main class="main">
  <div class="wrapper">
    <section class="section catalog">
      <app-catalog-list></app-catalog-list>
      <router-outlet></router-outlet>
    </section>
  </div>
</main>
<footer class="footer"></footer>
