.header,
.main,
.footer {
  width: 100%;
}

.header {
  min-height: 10rem;
}

.wrapper {
  max-width: 1400px;
  min-width: 300px;
  padding: 1rem 2rem;
  margin: 0 auto;
  height: 100%;
}
.header > .wrapper {
  padding-bottom: 0;
}
.main > .wrapper {
  padding-top: 0;
}

.header__main {
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.main-search {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 6rem;
  height: 3.7rem;
  padding: 1rem 2rem;
  width: 40%;
  justify-content: space-between;
  margin-left: auto;
}

.search__input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1.1rem;
}

.search__button {
  background-image: url(../assets/icons/search-solid.svg);
  width: 2rem;
  height: 100%;
  background-size: 70%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 1rem;
  cursor: pointer;
}

.main-phone {
  display: flex;
  align-items: center;
  height: 3.7rem;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-self: center;
}

.phone__icon {
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
  background-color: #f4f4f4;
  background-image: url(../../static/icons/phone-alt-solid.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center center;
}

.phone__number {
  font-size: 1.1rem;
  color: #e95930;
  margin: 0 1rem 1px;
  border-bottom: 1px dashed #e9583000;
  transition: border-bottom 200ms ease-in-out;
}
.phone__number:hover {
  border-bottom: 1px dashed #e95930;
}
