.header__nav {
  display: flex;
}

.nav__catalog-a {
  display: flex;
  min-width: 5rem;
  max-width: 18.5rem;
  width: 100%;
  background-color: #0e2b57;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem 0.2rem;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.nav__catalog-icon {
  display: inline-block;
  margin-right: 1rem;
  /* background-image: url(../../assets/icons/bars-solid.svg); */
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}
