@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

@import './variables.scss';

/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body {
  background-color: $main-bg;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.dnone {
  display: none !important;
}

strong {
  font-weight: bold;
}
