$main-bg: #dcf4ff;
$main-bg-img: url(./assets/imgs/bgImage.jpg);
$header-bg: rgba(255, 255, 255, 0.8);
$main-font-color: #031b24;
$list-font-color: #fbfbfb;
$list-header-font-color: #fff;
$list-ul-open-bg: #031b24;
$list-ul-li-hover: rgba(3, 27, 36, 0.45);
$list-ul-expand-bg: #e4e4e4;
$list-ul-expand-hover: rgba(0, 0, 0, 0.1);
$item-card-bg: #fff;
$list-bg: #114256;
$list-li-active: #031b24;
$list-li-sub-active: rgba(0, 0, 0, 0.3);
