<div class="item-page">
  <h1 class="item-page__h1">Доставка</h1>
  <p class="item__characters-text">
    Мы предоставляет услуги по доставке грузов по всей территории России, в
    оптимальные сроки и точно рассчитанной стоимостью автоперевозки.
  </p>
  <p class="item__characters-text">
    В нашей компании обеспечиваем экспертный уровень консультаций по услугам
    транспортировки груза, информируют о прибытии сырья (документа), подбираем
    оптимальный способ доставки и производим полный расчёт стоимости
    грузоперевозки.
  </p>
  <p class="item__characters-text">
    Передача товаров и приемка товара проводится согласно инструкций
    Госарбитража СССР от 15.06.1965 № П-6 (приемка,передача по количеству) и от
    25.04.1966 № П-7 (приемка,передача по качеству).
  </p>
  <h1 class="item-page__h1">Сопроводительные документы</h1>
  <h3 class="item-page__h3">Совместно с товаром, Вам обязаны передать:</h3>
  <ul class="item-page__ul">
    <li class="item-page__li">Оригинал счета;</li>
    <li class="item-page__li">Товарная накладная;</li>
    <li class="item-page__li">Счет-фактура;</li>
    <li class="item-page__li">Приложение к товарной накладной;</li>
    <li class="item-page__li">
      Паспорт качества/сертификат соответствия завода-производителя (копия
      заверенная печатью нашей компании).
    </li>
  </ul>
</div>
