<ul class="main__ul">
  <li
    class="main__li"
    *ngFor="let item of itemList; let i = index"
    [class.sub]="item.sub"
    [class.sub-open]="getCurClass(item.expand)"
  >
    <a
      class="main__a"
      [routerLink]="i"
      routerLinkActive="active"
      [class.sub]="item.sub"
      [class.expand]="curExpandId[item.expandId] === item.expandId"
      (click)="item.expandId ? setCurExpand(i) : null"
    >
      <span class="a__span" [class.dnone]="item.sub">
        <span class="a__span-circle"></span>
        <span class="a__span-line"></span> </span
      ><span>{{ item.title }}</span>
      <span class="button__span" *ngIf="item.expandId" type="button"></span>
    </a>
  </li>
</ul>
