<ul class="main__ul">
  <li
    class="main__li"
    *ngFor="let category of categories; let i = index"
    [class.sub]="category.Sub"
    [class.sub-open]="getCurClass(category.Expand)"
  >
    <a
      class="main__a"
      [routerLink]="category.IDCategory"
      routerLinkActive="active"
      [class.sub]="category.Sub"
      [class.expand]="curExpandId[category.ExpandId] === category.ExpandId"
      (click)="category.ExpandId ? setCurExpand(i) : null"
    >
    <span class="button__span" *ngIf="category.ExpandId" type="button"></span>
      <span class="a__span" [class.dnone]="category.Sub"> </span>
      <span>{{ category.Title }}</span>
    </a>
  </li>
</ul>
