.main__ul {
  min-width: 18.5rem;
  max-width: 18.5rem;
  color: rgb(219, 219, 219);
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  padding-bottom: 1rem;
  background-color: #0e2b57;
}

.main__li {
  background-color: #0e2b57;
  z-index: 20;
}

.main__li.sub {
  height: 0;
  z-index: -1;
  transition: all 500ms;
  visibility: hidden;
  transform-origin: top;
}

.main__li.sub .main__a {
  padding: 0 2rem 0 1rem;
  transition: all 500ms;
  opacity: 0;
  transform-origin: top;
}

.main__li.sub-open {
  transform: translateY(0);
  height: 3rem;
  visibility: visible;
}

.main__li.sub-open .main__a {
  padding: 1rem 1rem 1rem 2rem;
  opacity: 1;
}

.button__span {
  position: absolute;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #508cb9;
  border-radius: 0.3rem;
  outline: none;
  background-image: url("../../../assets/icons/add-plus-button.svg");
  background-size: cover;
  transition: transform 500ms;
}

.main__a.expand .button__span {
  transform: rotate(180deg);
}

.main__a {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  align-items: center;
  font-size: 1.1rem;
  position: relative;
  transition: background-color 300ms;
}

.main__a.sub {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  border-left: 1px solid #d8d4d4;
  border-right: 1px solid #d8d4d4;
}

.a__span {
  display: block;
  height: 1rem;
  width: 1rem;
  min-width: 1rem;
  margin-right: 1rem;
  opacity: 0.3;
}

.main__a:not(.sub).active,
.main__a:not(.sub):hover {
  color: #fefeff;
  background-color: #0d274e;
}

.main__a:not(.sub).active{
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 1);
}

.main__a.sub:hover {
  background-color: #f7f7f7;
  color: #e95930;
}

.main__a.sub.active {
  background-color: #ececec;
  color: #e95930;
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 1);
}

.main__a.active .a__span {
  opacity: 1;
}

.main__li:not(.sub)::after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scale(0);
  transition: all .3s;
}

.main__li:hover::after{
  transform: scale(1);
}