* {
  font-weight: normal;
}

:host {
  width: 50%;
  padding: 1rem 2rem;
  padding-right: 0;
}

:host.mobile {
  width: 100%;
  padding: 0.5rem 1rem;
  .item__wrapper {
    padding: 1rem;
  }
}

@media (max-width: 900px){
  :host{
    width: 100%;
    padding: 0.5rem 1rem;
    .item__wrapper {
      padding: 1rem;
    }
  }
}

.item__wrapper {
  width: 100%;
  min-height: 9rem;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  transition: box-shadow 350ms, border 350ms;
  border-radius: 0.8rem;
}

.item__info {
  margin-bottom: auto;
  display: flex;
  font-size: 1.2rem;
}

.item__header {
  padding-top: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: black;
}

.info-available {
  color: #0bc807;
  margin-left: auto;
}

.info-article {
  color: black;
}

.info-article strong {
  font-weight: bold;
}

.article {
  color: #464545;
}

.item__wrapper:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.item__wrapper:active {
  background-color: #f0f0f0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
