<div class="item">
  <a
    [ngx-scroll-to]="'header'"
    [ngx-scroll-to-duration]="100"
    [ngx-scroll-to-easing]="'easeInQuad'"
    class="item__wrapper"
    [routerLink]="['../../catalog', itemCategoryId, itemId]"
  >
    <div class="item__info">
      <p class="info-article">
        <span class="article">Артикул - </span
        ><strong>{{ itemVendorCode }}</strong>
      </p>
      <p class="info-available">
        {{ itemAvailable ? 'в наличии' : 'нет в наличии' }}
      </p>
    </div>
    <h4 class="item__header">{{ itemTitle }}</h4>
  </a>
</div>
